"http://docker.local:3311":
  type: deploy
  tags:
    - dev-docker
  only:
    - master
  script:
    - sudo docker stop $PJ_DOCKER_NAME_DEV
    - sudo docker cp ./ $PJ_DOCKER_NAME_DEV:/var/www/
    - sudo docker start $PJ_DOCKER_NAME_DEV